* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    width: 300px;
    height: 500px;
    /*margin: 50px;*/
}

button {
    font-weight: 900;
    font-size: 20px;
}

#main-window {
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(34, 34, 34);
    border-radius: 15px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 500px;
    background: rgb(34, 34, 34);
}

#display-window {
    border: 3px solid black;
    padding: 10px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 5px;
    width: auto;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    background: rgb(0, 0, 0);
    text-align: end;
    flex-shrink: 0;
    flex-grow: 0;
    color: white;
}

#keypad {
    display: flex;
    border-top: 0px;
    padding-top: 3px;
    padding-bottom: 10px;
}

.number-pad {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 370px;
    justify-content: center;
    padding: 10px;
    padding-left: 12px;
}

.number-pad button, .zero-button {
    height: 60px;
    width: 60px;
    border-radius: 0px;
    border: none;
    color: rgb(211, 211, 211);
    background: rgba(82, 82, 82, 0.205);  
}

.number-pad .zero-button {
    height: 60px;
    width: 95px;
    flex-shrink: 0;
}

.number-group {
    display: flex;
    gap: 10px;
}

.calc-text, .result-text {
    margin-bottom: 0px;
    padding-top: 15px;
    font-size: 13px;
    font-weight: 400;
    font-size: 2em;
    height: 50px;
}

.result-text {
    padding-top: 5px;
}

.number-pad .func-button {
    background: rgb(255, 202, 103);
    margin-left: 0px;
    margin-right: auto;
    color: rgb(63, 63, 63);;
}

.number-pad .c-button, .number-pad .eq-button {
    background: rgb(0, 48, 41);
    width: 95px;
    flex-shrink: 1;
}

.eq-button {
    margin-left: auto;
    margin-right: 0px;
}

.calc-name {
    color: rgb(104, 100, 100);
    font-size: 30px;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    font-family: "Sofia", sans-serif;
}

.number-pad .blank-button {
    border: none;
    background: none;
}

.number-group button:hover {
    background: rgb(73, 73, 73);
}
.number-pad .func-button:hover {
    background: rgb(250, 142, 2);
}